# requirements.txt (Minimalfix)
numpy==2.* 
pandas==2.3.*
dash==2.17.*
plotly==5.*
requests==2.*
beautifulsoup4==4.*
lxml==5.*              # lassen wir, Dockerfile liefert die Build-Deps
selenium==4.*
yfinance==0.2.*
pytz==2024.*           # ODER Zeile löschen, falls nicht benötigt
gunicorn==22.*         # für Render/Prod

